*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NotoSans;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.root{
    width: 80%;
}

@font-face {
    font-family: NotoSans;
    src: url('../../assets/NotoSans-Reg.woff2');
}



input[type=checkbox] {
    margin: 4px 0 0;
    line-height: normal;
    width: 15px;
    height: 15px;
    margin: 0px 8px 0px 0px;
}


.rowAboutPage{
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.rowAboutPage ul {
    display: flex;
}

.SortingTool{
    height: 49px;
    margin-bottom: 10px;
    padding-bottom: 20px !important;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 8px;
}

.SortingTool select{
    padding: 15px;
    background-color: transparent;
    border: 1px solid  black;
    width: 250px;
    font-size: 18px;
}
.sortLink{
    padding: 10px 10px 10px 30px;
    margin: 0px 0px 10px;
    color: yellow;
}

